<div class="sidebar-content">
  <h3>Views</h3>
  <button (click)="setView('visualization')" [class.active]="view === 'visualization'">🖼️ Visu</button>
  <button (click)="setView('processors')" [class.active]="view === 'processors'">⚙️ Processors</button>

  <div class="divider"></div>

  <h3>Tools</h3>
  <button (click)="setMode('select')" [class.active]="currentMode === 'select'">🖱️ Select</button>
  <button (click)="setMode('draw-rect')" [class.active]="currentMode === 'draw-rect'">⬛ Rect</button>
  <button (click)="setMode('draw-arrow')" [class.active]="currentMode === 'draw-arrow'">➡️ Arrow</button>
</div>
